* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: 'open sans', sans-serif;
}

nav {
	background-color: white;
	padding: 0.8rem;
	margin-bottom: 2rem;
	position: sticky;
	top: 0;
	z-index: 4;
}

nav .nav, nav .right-nav, nav .nav-logo{
	margin: 0.5rem;
	display: inline;
}

 .right-nav {
    display: inline-block;
    float: right;
} 

.tuitt-button {
	background-color: #c2195b;
	border: transparent;
	border-radius: 25px;
	font-size: 0.75rem;
	padding: 0.75rem;
}

#bg-image {
	background-image: url(https://d3ojsfl21hfxhc.cloudfront.net/assets/zuitt/programdetails2_w.jpg);
	min-height: 30vh;
	background-repeat: no-repeat;
	background-position: center top;
	background-size: 100%;
	background-attachment: fixed;
}

.front-bg {
	text-align: right;
	background-color: rgba(0, 0, 0, 0.5);
    opacity: 1;
    min-height: 30vh;
}

section .title, section .title-2 {
	font-family: 'zilla slab';
}

.container {
	color: white;
}

.title {
	font-size: 2rem;
	margin-left: 60%;
	margin-right: 2rem;
}

.subtitle {
	font-size: 10px;
	margin-left: 70%;
	margin-right: 2rem;
}

.apply-button {
	background-color: #c2195b;
	border: transparent;
	border-radius: 25px;
	font-size: 0.5rem;
	padding: 0.5rem;
	margin-right: 30px;
}

.title-2 {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.intro-description {
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.pre-footer {
	background-color: #f7fbfb;
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	text-align: center;
}

.book-button {
	background-color: #336589;
	padding-left: 5%;
	padding-right: 5%;
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	text-align: center;
	border-radius: 25px;
}

footer {
	text-align: center;
}
